*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:900px;
    border:2px solid black;
    margin:10px auto;
    display: flex;
    height:200px;
    padding:10px
}
.box{
    border:2px solid black;
}
.b1{
    background-color: orange;
    flex-basis: 100px;
    /* flex-grow:0; */
    /* order:2 */
    flex-shrink:2;
}
.b2{
    background-color:red;
    flex-basis: 250px;
    /* flex-grow:2; */
    /* order:1; */
    flex-shrink: 1;
}
.b3{
    background-color: blue;
    flex-basis: 300px;
    /* flex-grow:2; */
    flex-shrink: 1;
    /* order3; */
}