*{
    margin:0;
    box-sizing:border-box;
    padding:0;
}
body{
    height:100vh;
}

nav{
    text-align: center;
    height:35px;
    width:100vw;
    background:linear-gradient(to right, blue 25%,pink 50%,red 75%,violet 100% );
    position:sticky;
    top:0;

    
}
.box{
    background:url(./asset/background\ netflix.jpg);
    height:100vh;
    width:100vw;
    display:flex;
    overflow-x:hidden;
    overflow-y: scroll;   
}
img{
    height:50px;
    width:200px;
}
